body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 50px;
    font-weight: 900
    
}

.name-highlight{
    color: coral;
}

.half-width{
    width: 45%;
    float: left;
    padding-left: 2%;
    margin-left: 2px;
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image:url(Images/top-banner.png);
}